doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    nav
        a(href='/') Home
        |  | 
        a(href='/products') All Products
        if (!user)
            |  | 
            a(href='/login') Login 
            |  | 
            a(href='/register') Register
        else
            |  |
            a(href='/products') All Products
            |  | 
            a(href='/userProducts') Your Products
            |  |
            a(href='/logout') Logout
    block content