extends partials/header

block content

  //
  // Name: Thales Barros Fajardo Valente
  // Student ID: 200400698
  // Date: 08/04/2020
  //Website: https://assignment2comp2068.herokuapp.com/
  // Description: Error page when a function or method has an error
  h1= message
  h2= error.status
  pre #{error.stack}
  include partials/footer

