extends partials/header

block content
  h1= title
  p Welcome to #{title}
  p This is a product page. Here you will post a variety of products and be able to see which products are available. 
  p You will be able to see all products but not alter them. You will have a specific area where you can edit or delete the products you posted.
  p You will need to include name, price and image of the product. It will be linked to your account.

  include partials/footer