extends partials/header
block content

   
    // Name: Thales Barros Fajardo Valente
    // Student ID: 200400698
    // Date: 08/04/2020
    // Website: https://assignment2comp2068.herokuapp.com/   
    // Description: Login page where users can log in their accounts
    h1 Login Page
    form(method='POST' action='/login')
        fieldset
            label(for='userEmail') Email
            input#userEmail(type='text' name='username')
        fieldset
            label(for='password') Password
            input#password(type='password' name='password')
        input(type='submit' value='Login')
        br
        fieldset
            a(href="/auth/google") Sign In with Google
    include partials/footer