extends partials/header
block content
    h1 Login Page
    form(method='POST' action='/login')
        fieldset
            label(for='userEmail') Email
            input#userEmail(type='text' name='username')
        fieldset
            label(for='password') Password
            input#password(type='password' name='password')
        input(type='submit' value='Login')
        br
        fieldset
            a(href="/auth/google") Sign In with Google
    include partials/footer